node_modules
vendor
public/build
bootstrap/ssr
storage/*.key
.env
.git
.gitignore
.editorconfig
.prettierrc
.prettierignore
eslint.config.js
tsconfig.json
phpunit.xml
pint.json
README.md
docker-compose.yml
Dockerfile
bootstrap/cache/*.php
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
